page-profile {
  .profileImg {
    border: 1px solid;
    padding: 100px;
    text-align: center;
  }

  .profileContent {
    margin-top: 15px;
    h3 { text-align: center }
  }

  .removeBtn {
    margin-top: 30%;
  }

}
